@import url("/src/index.css");

.form-group-container {
  display: flex;
  flex-direction: column;
}

/* Base Styles */
.form-group {
  display: flex;
  align-items: center;
  border-top: var(--form-border-width) solid var(--form-border-color);
  height: 100%;
}

.form-group-text {
  background-color: var(--form-background-color);
  padding: 26px 15px;
  flex-shrink: 0;
  width: 302px;
  font-family: 'Roboto-Regular', sans-serif;
  color: var(--form-text-color);
}

.form-group-input {
  width: 100%;
  padding: 0 15px 0 16px;
}

.form-group-input select,
.form-group input {
  width: 100%; 
  font-size: var(--input-font-size);
  padding: var(--input-padding);
  border-radius: var(--input-border-radius);
  border: var(--form-border-width) solid var(--form-border-color);
}

.form-radio-container,
.form-checkbox-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 16px;
}

/* Checkmark Styles */
.form-group-box {
  display: flex;
  position: relative;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  font-family: 'Roboto-Regular', sans-serif;
  align-items: center;
  overflow: hidden;
}

.form-group-box input[type="radio"],
.form-group-box input[type="checkbox"] {
  display: none;
}

.form-group-box .checkmark-radio,
.form-group-box .checkmark-checkbox {
  position: relative;
  height: 26px;
  width: 26px;
  border: var(--form-border-width) solid var(--form-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--input-border-radius);
}

.form-group-box .checkmark-radio {
  border-radius: 50%;
}

.checkmark-radio:after,
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.form-group-box input:checked ~ .checkmark-radio:after,
.form-group-box input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.form-group-box .checkmark-radio:after {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--checkmark-color);
}

.form-group:last-child {
  border-bottom: var(--form-border-width) solid var(--form-border-color);
}

.form-group-box .checkmark-checkbox:after {
  top: 4px;
  left: 4px;
  width: 15px;
  height: 16px;
}

/* Submit Button Styles */
.submit-button-container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 80px;
}

.submit-button {
  padding: var(--submit-button-padding);
  background-color: var(--submit-button-background-color);
  border: none;
  color: var(--submit-button-text-color);
  font-size: var(--submit-button-font-size);
  border-radius: var(--submit-button-border-radius);
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 900px) {
  .form-group-container {
    gap: var(--form-gap-mobile)
  }

  .form-group {
    flex-direction: column;
    gap: var(--form-group-gap-mobile);
    align-items: start;
  }

  .form-group:last-child {
    padding-bottom: 20px;
  }

  .form-group-text {
    width: 100%;
  }

  .form-group-input {
    padding: 0;
    width: 100%;
  }

  .form-group-input select {
    min-width: 100%;
  }

  .form-radio-container,
  .form-checkbox-container {
    margin-left: 0;
  }
}

@media (max-width: 598px) {
  .form-radio-container,
  .form-checkbox-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 116px);
  }

  .form-group-box:nth-child(3),
  .form-group-box:nth-child(4) {
    margin-top: -15px;
  }

  .submit-button-container {
    margin-top: 40px;
  }

  .submit-button {
    width: 100%;
    max-width: 345px;
  }
}