.form-group-container {
  display: flex;
  flex-direction: column;
}

* {
  color: #333333;
  font-weight: normal;
}

.form-group label, .form-group input, .form-group legend { 
  font-family: 'Roboto-Regular', sans-serif;
}

.form-group {
  display: flex;
  align-items: center;
  border-top: 1px solid #AAAAAA;
  height: 100%;
}

.form-group-text {
  background-color: #EEEEEE;
  padding: 26px 16px;
  flex-shrink: 0;
  width: 302px;
}

.form-group-input {
  width: 100%;
  padding: 0 15px 0 16px;
}

.form-group-input select {
  width: 302px;
  padding: 10.5px;
  font-size: 16px;
  border: 1px solid #AAAAAA;
  border-radius: 3px;
}

.form-group input {
  width: 100%; 
  font-size: 16px;
  padding: 10.5px;
  border-radius: 3px;
  border: 1px solid #AAAAAA;
}

.form-radio-container, .form-checkbox-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 16px;
}

.form-group-box {
  display: flex;
  position: relative;
  gap: 10px;
  cursor: pointer;
  user-select: none;
  font-family: 'Roboto-Regular', sans-serif;
  align-items: center;
  overflow: hidden;
}

.form-group-box input[type="radio"],
.form-group-box input[type="checkbox"] {
  display: none;
}

.form-group-box .checkmark-radio,
.form-group-box .checkmark-checkbox {
  position: relative;
  height: 26px;
  width: 26px;
  border: 1px solid #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.form-group-box .checkmark-radio {
  border-radius: 50%;
}

.checkmark-radio:after, 
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.form-group-box input:checked ~ .checkmark-radio:after,
.form-group-box input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.form-group-box .checkmark-radio:after {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #E3007F;
}

.form-group:last-child{
  border-bottom: 1px solid #AAAAAA;
}

.form-group-box .checkmark-checkbox:after {
  top: 4px;
  left: 4px;
  width: 15px;
  height: 16px;
}

.submit-button-container {
  display: grid;
  place-items: center;
  width: 100%;
  margin-top: 80px;
  
}

.submit-button {
  padding: 12px 59px;
  background-color: #E3007F;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 900px) {
  
  .form-group-container {
    gap: 15px;
  }
  .form-group {
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group:last-child{
    padding-bottom: 15px;
  }

  .form-group-text {
    width: 100%;
  }
  .form-group-input {
    padding: 0;
    width: 100%;
  }
  .form-group-input select {
    min-width: 100%;
  }
  .form-radio-container, .form-checkbox-container {
    margin-left: 0;
  }
}

@media (max-width: 593px) {
  .form-radio-container, .form-checkbox-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 116px);
  }
  .submit-button-container {
    margin-top: 40px;
  }
  .submit-button {
    width: 100%;
    max-width: 345px;
  }
} 
