@import url("/src/index.css");

.hero-container {
  width: 100%;
  margin-top: 64px;
  position: relative;
}

.hero-background-container {
  background-image: var(--hero-background-image-desktop);
  background-size: cover;
  background-position: center;
  height: var(--hero-background-height);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  padding: 0 var(--hero-padding);
}

.hero-overlay h1, .hero-overlay p {
  color: #333333;
  letter-spacing: 0;
}

.hero-overlay > h1 {
  font-size: var(--heading-font-size);
  line-height: var(--heading-line-height);
  text-shadow: var(--heading-text-shadow);
}

.hero-overlay > p {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  text-shadow: var(--paragraph-text-shadow);
  margin-top: var(--hero-overlay-margin-top);
  font-family: var(--paragraph-font-family);
}

@media(max-width: 980px) {
  .hero-background-container {
    background-image: var(--hero-background-image-mobile);
  }
  .hero-overlay > p {
    margin-top: var(--hero-overlay-margin-top-mobile);
  }
}
