@import url("/src/index.css");

.card-main {
  max-width: var(--max-width-card-main);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
  gap: var(--gap-card-main);
}

.four-col-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--four-col-min-width), 1fr));
  place-items: center;
  gap: var(--grid-gap);
}

.three-col-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--three-col-min-width), 1fr));
  place-items: center;
  gap: var(--grid-gap);
}

.four-col-card, .three-col-card {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.four-col-card img, .three-col-card img {
  height: auto;
  width: 100%;
}

.four-col-card {
  max-width: var(--four-col-min-width);
}

.three-col-card {
  max-width: var(--three-col-min-width);
}

.four-col-card-content, .three-col-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.four-col-card-title, .three-col-card-title {
  font-size: var(--card-title-font-size);
}

.four-col-card-text, .three-col-card-text {
  text-align: start;
  font-size: var(--card-text-font-size);
  font-family: "Roboto-Regular", sans-serif;
  font-weight: normal;
}

@media (max-width: 649px) {
  .four-col-card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 433px) {
  .three-col-card-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media (max-width: 375px) {
  .four-col-card img {
    height: var(--small-four-col-img-height);
    width: var(--small-four-col-img-width); 
  }

  .three-col-card img {
    height: var(--small-three-col-img-height);
    width: var(--small-three-col-img-width);
  }

  .four-col-card {
    max-width: var(--small-card-width);
    width: 100%;
  }

  .three-col-card {
    max-width: var(--small-three-col-card-width);
    width: 100%;
  }

  .four-col-card-content {
    gap: var(--small-four-col-card-gap);
  }

  .three-col-card-content {
    gap: var(--small-three-col-card-gap)
  }

  .four-col-card-title {
    font-size: var(--small-four-col-title-font-size);
  }
  
  .three-col-card-title {
    font-size: var(--small-three-col-title-font-size);
  }

  .four-col-card-text {
    font-size: var(--small-four-col-text-font-size);
  }

  .three-col-card-text {
    font-size: var(--small-three-col-text-font-size);
  }
}

@media (max-width: 374px) {
  .three-col-card img, .four-col-card img {
    width: 100%;
    height: auto;
  }
}





