@import url("/src/index.css");

.card-main {
  display: flex;
  flex-direction: column;  
  gap: var(--gap-main);
}

.four-col-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--four-col-min-width), 1fr));
  place-items: center;
  gap: var(--grid-gap);
}

.three-col-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--three-col-min-width), 1fr));
  place-items: center;
  gap: var(--grid-gap);
}

.four-col-card, .three-col-card {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
}

.four-col-card img, .three-col-card img {
  height: auto;
  width: 100%;
}

.four-col-card-content, .three-col-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap)
}

.four-col-card-title, .three-col-card-title {
  font-size: var(--card-title-font-size);
}

.four-col-card-text, .three-col-card-text {
  text-align: start;
  font-size: var(--card-text-font-size);
  font-weight: normal;
}

@media (max-width: 649px) {
  .four-col-card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 433px) {
  .three-col-card-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media (max-width: 375px) {

  .three-col-card-container {
    gap: var(--small-grid-gap)
  }

  .four-col-card:nth-child(3),
  .four-col-card:nth-child(4) {
    margin-top: 15px;
  }

  .four-col-card-content, .three-col-card-content  {
    gap: var(--small-col-card-gap);
  }

  .four-col-card-title {
    font-size: var(--small-four-col-title-font-size);
  }
  
  .three-col-card-title {
    font-size: var(--small-three-col-title-font-size);
  }

  .four-col-card-text {
    font-size: var(--small-four-col-text-font-size);
  }

  .three-col-card-text {
    font-size: var(--small-three-col-text-font-size);
  }

  .three-col-card img, .four-col-card img {
    width: 100%;
    height: auto;
  }
}








