@import url("/src/index.css");

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: var(--sidebar-max-width);
  height: 100%;
  background-color: var(--sidebar-background-color);
  color: var(--sidebar-text-color);
  display: flex;
  flex-direction: column;
  padding: var(--sidebar-padding-vertical) var(--sidebar-padding-horizontal);
  transform: translateX(100%);
  transition: var(--sidebar-transition);
}

.sidebar-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sidebar-gap);
  margin-top: var(--sidebar-menu-margin-top);
}


.sidebar.open {
  transform: translateX(0);
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--close-button-padding);
}

.close-button .line {
  width: var(--close-button-line-width);
  height: var(--close-button-line-height);
  background-color: var(--close-button-line-color);
  margin: 4px 0;
  transition: var(--close-button-line-transition);
}

