.accordion-container {
  display: flex;
  flex-direction: column;
  gap: var(--accordion-gap);
}

.accordion-main {
  padding: var(--accordion-padding);
  border: var(--accordion-border, 1px solid #AAAAAA);
  overflow: hidden;
  transition: all var(--accordion-transition-duration, 0.15s) ease;
}

.accordion-header {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.accordion-icon {
  margin-left: auto;
  height: var(--accordion-icon-height);
  width: var(--accordion-icon-width);
  transition: transform var(--accordion-transition-duration) ease;
}

.accordion-icon.open {
  transform: rotate(180deg);
}

.accordion-header *, .accordion-content p {
  font-size: var(--accordion-font-size);
  color: var(--accordion-text-color);
}

.accordion-content p {
  margin-top: var(--accordion-content-margin-top);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity var(--accordion-transition-duration), margin-top var(--accordion-transition-duration);
}

.accordion-content.open {
  opacity: 1;
  margin-top: var(--accordion-content-margin-top-open);
}

@media(max-width: 768px) {
  .accordion-main {
    padding: var(--accordion-padding-mobile);
  }

  .accordion-header *, .accordion-content p {
    color: var(--accordion-text-color-mobile);
  }

  /* .accordion-icon {
    height: var(--accordion-icon-height-mobile);
    width: var(--accordion-icon-width-mobile);
  } */

  .accordion-container { 
    gap: var(--accordion-gap-mobile);
  }

  .accordion-content p, .accordion-content.open {
    margin-top: var(--accordion-content-margin-top-mobile);
  }

  .accordion-header h3, .accordion-content p {
    font-size: var(--accordion-font-size-mobile);
  }
}
